@font-face {
    font-family: 'PPNeueMachina-Regular';
    src: url(../fonts/PPNeueMachina-Regular.otf);
}

@font-face {
    font-family: 'Metropolis-Regular';
    src: url(../fonts/Metropolis-Regular.otf);
}